/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.call-me {
  background-color: rgb(180, 181, 183);
  width: 100%;
  height: 50px; /* Ajustar altura según necesidad */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.tel-call {
  color: rgb(0, 0, 0);
}
.Link-logo{
  width: auto;
  height:  auto;

}
.logo{
  width: max-content;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 14px 20px;
}

.nav-items {
  display: flex;
  gap: 103px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
}

.nav-item:hover {
  color: #ddd;
}
.container-home{

}
@keyframes colorChange {
  0% { color: rgb(0, 162, 255); }
  25% { color: rgb(55, 255, 0); }
  50% { color: rgb(225, 225, 156); }
  75% { color: rgb(7, 7, 7); }
  100% { color: rgb(194, 88, 88); }
}

.bienvenido {
  font-weight: bold;
  animation: colorChange 5s infinite;
  font-size: 35px;
  padding-left: 22px;
}

.Link-logo img {
  width: 80px; /* Ajustar tamaño del logo según necesidad */
  height: auto;
}
/* home */

.home-div{
  background-color: magenta;
}
.movie{
  display: flex;
  margin-left: 3cm;

  max-width: max-content;
  height: auto;

 
  
}
.movie-vi {
  width: 100%; /* Establece el ancho del video al 10% para que se ajuste al tamaño de la pantalla */
  height: auto; 
  border:  solid 5px black;
}



/* abut */

@keyframes colorChange {
  0% { color: rgb(0, 162, 255); }
  25% { color: rgb(55, 255, 0); }
  50% { color: rgb(225, 225, 156); }
  75% { color: rgb(7, 7, 7); }
  100% { color: rgb(194, 88, 88); }
}

.h1-Acer{
  font-weight: bold;
  animation: colorChange 5s infinite;
  font-size: 35px;
  padding-left: 22px;
}

.figu-nostro{
  max-width: 100%;
}
.img-nostro{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.figure-porta{
  border: solid 5px #000000;
  width: 70%;
}
.div-text-nos{
  padding: 5px;
  margin: 4px;
  font-size: 25px;
}


/* portafolio */
.figure-img-porta{
  width: 24.6cm;
}
@keyframes colorChange {
  0% { color: red; }
  25% { color: orange; }
  50% { color: yellow; }
  75% { color: green; }
  100% { color: blue; }
}

.h1-bioe-por {
  animation: colorChange 5s infinite;
  margin-left: 24px;
}
.div-text-porta{
  margin: 5px;
  padding: 5px;
}
.parafo-portafolio{
  font-size: 22px;
  text-align: justify;
}
.conct-porf{
  display: flex;
  justify-content: center;
  gap: 54px;
}

/* Footer */

.footer-item{
  padding-left: 17px;
}
/* Media queries para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Header */
  .call-me {
    height: 40px;
  }
 

  .navbar {
    padding: 10px 15px;
    width: auto;
  }

  .Link-logo img {
    width: 60px;
  }
}

/* Home */
.container {
  padding: 0px;
  margin-top: 33px; /* Ajustar margen según necesidad */
}

.h1-bienve {
  font-size: 4vw;
  text-align: center;
}

.p-home {
  max-width: 100%;
  
  line-height: 1.5em;
  font-weight: normal;
  font-size: 1.2rem; /* Ajustar tamaño de fuente según necesidad */
  letter-spacing: .05em;
  text-align: left;
  margin: 12px;
  margin-top: 20px; /* Ajustar margen según necesidad */
  color: black;
}
.mi-p-home{
  font-weight: bold;
  color: #000;
  position: relative;
  top: 19px;
 
}
.movie-vi{
  background-color: red;
}

.figure-img-porta {
  width: auto; /* Ancho automático para dispositivos de tamaño medio o grande */
  max-width: 100%; /* Ancho máximo igual al tamaño del contenedor */
  height: 100%;
}
/* about */

.figu-nostro{
  max-width: fit-content;
}


/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-item {
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
}

.footer-item h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-item p {
  margin-bottom: 5px;
}

.footer-item a {
  color: #fff;
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer i {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}

@media screen and (max-width: 435px) {
  /* Header */
  .navbar{
    width: 10.5cm;
  }
 .nav-items{
  gap: 37px;

  }  
}
@media screen and (max-width: 343px) {
  /* Header */
 .nav-items{
  gap: 14px;
  font-size: 15px;
   
  }  
}
@media screen and (min-width: 460px) {
  /* Header */
 .navbar{
  
   width: auto;
  }  
}
