/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.call-me {
  background-color: rgb(180, 181, 183);
  width: 100%;
  height: 50px; /* Ajustar altura según necesidad */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.tel-call {
  color: rgb(0, 0, 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 14px 20px;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
}

.nav-item:hover {
  color: #ddd;
}
.container-home{

}
.bienvenido {
  position: relative;
  font-size: 28px;
  
  top: -103px;
  font-size: 28px;
  opacity: 0.5; 
  transition: opacity 0.5s ease; 
}

.bienvenido:hover {
  opacity: 1; 
}

.Link-logo img {
  width: 80px; /* Ajustar tamaño del logo según necesidad */
  height: auto;
}
.movie{
 top: -104px;
 position: relative;
  background-color: rgb(216, 216, 216);
  border: solid 5px black;
  justify-content: center;
  display: flex;
  width: auto;

}
/* abut */
.h1-Acer{

 position: relative;
  font-size: 28px;
  

  font-size: 28px;
  opacity: 0.5; 
  transition: opacity 0.5s ease; 
}

.h1-Acer:hover {
  opacity: 1; 
}
/* portafolio */
.figure-porta{
  border: solid 5px #000000;
  width: 25cm;
}
.figure-img-porta{
  width: 24.6cm;
}
/* Media queries para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Header */
  .call-me {
    height: 40px;
  }

  .navbar {
    padding: 10px 15px;
  }

  .Link-logo img {
    width: 60px;
  }
}

/* Home */
.container {
  padding: 20px;
  margin-top: 100px; /* Ajustar margen según necesidad */
}

.h1-bienve {
  font-size: 4vw;
  text-align: center;
}

.p-home {
  max-width: 100%;
  line-height: 1.5em;
  font-weight: normal;
  font-size: 1.2rem; /* Ajustar tamaño de fuente según necesidad */
  letter-spacing: .05em;
  text-align: left;
  margin-top: 20px; /* Ajustar margen según necesidad */
  color: black;
}
@media (max-width: 767px) {
  .figure-img-porta {
    width: 100%; 
  }
}

/* Otros estilos para secciones adicionales según necesidad */

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-item {
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
}

.footer-item h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-item p {
  margin-bottom: 5px;
}

.footer-item a {
  color: #fff;
  text-decoration: none;
}

.footer-item a:hover {
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer i {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}
